footer {
  border-top: 1px solid #e7e7e7;
  background-color: #191919;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  margin: auto;
  width: 150px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.footer a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 541px) {
  footer {
    font-size: 13px;
  }
}
