.price-slider__toggle-year-billing {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
}

.price-slider__card__number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.price-slider__toggle__discount {
  color: var(--discount-text);
  background-color: var(--discount-background);
  border-radius: 15px;
  padding: 0 10px;
  font-weight: var(--font-weight-light);
}

.price-slider__card__pageview {
  font-weight: var(--font-weight-light);
}

.price-slider__card__price--desktop {
  display: flex;
  align-items: center;
}

.price-slider__card__price--desktop span,
.price-slider__card__price--mobile span {
  margin-left: 10px;
}

.price-slider__card__price--mobile {
  display: none;
}

.price-slider__card__price--bold {
  font-weight: 800;
  font-size: 2rem;
  color: black;
}

@media screen and (max-width: 541px) {
  .price-slider__card__price--desktop {
    display: none;
  }
  .price-slider__card__price--mobile {
    display: block;
  }
  .price-slider__card__number {
    justify-content: center;
  }

  .price-slider__toggle-year-billing {
    width: 105%;
  }
}
