.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 10px;
  width: 90%;
  height: 12px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.9;
  border: solid 1px var(--empty-slider-bar);
  transition: background 450ms ease-in;
  background: linear-gradient(
    to right,
    var(--slider-background) 22%,
    var(--empty-slider-bar) 22%
  );
}

.slider:hover {
  opacity: 1;
}

input.slider::-webkit-slider-thumb {
  background: no-repeat center/60% url("../images/icon-slider.svg");
  background-color: var(--slider-background);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-appearance: none;
  box-shadow: 0 10px 30px 1px var(--slider-background);
}

input.slider::-webkit-slider-thumb:hover {
  background-color: hsl(174, 75%, 51%);
}
